body {
    background-color: #1F3B2C;
    margin: 0;
    max-width: fit-content;
  }

h1 {
    font-size: 22px;
    font-family: Arial, sans-serif;
    color: #e5b0a4;
}


nav a {
    padding: 10px;
    float: right;
    background-color: #588068
}


img {
  display: block;
  margin-left: auto;
  width: 1200px;
}