body {
    background-color: #e5b0a4;
    margin: 0;
  }

#logo-place-holder {
    font-size: 40px;
    font-family: Arial, sans-serif;
    color: #f5f3f5;
    float: left;
    margin: 0;
    padding: 15px;
}

nav {
    float: right;
}

.container {
    width: 80%;
    margin: 0;
}

header {
    background-color: #588068;
}
header::after {
    content: ' ';
    display: block;
    clear: both;
}

nav ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li{
  display: inline-block;
  margin-left: 40px;
  margin-bottom: 20px;
  padding-top: 33px;
}

nav li:hover{
  text-decoration: underline;
  text-underline-offset: 5px;
}

nav a{
    text-decoration: none;
    color: #f5f3f5;
    text-transform: uppercase;
}

/* div class holding the image of a four leaf clover that stays centered despite browser size*/
.image-background {
    background: url(images/76054908-06B0-4405-A9B0-72C031A742EB.jpg);
    background-size: cover;
    background-position: center center;
    height: 300px;
    position: relative;
    margin-bottom: 25px;
}

/* heading over the background image; wanted centered but am settling for lower right*/
.image-background h3{
  font-size: 50px;
  position: absolute;
  margin: 0;
  bottom: 10px;
  right: 10px;
}

/* div class clovers to be side by side divs with images */
.clovers{
    text-align: center;
}
.clovers img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 300px;
    border-style: solid;
    border-width: 5px;
    border-color: #f5f3f5;
    background-color: #f5f3f5;
}

.clovers p{
    font-size: 24px;
}

